version: '3.8'

services:
  app:
    image: salehinrocky/brainstation-user-event:1.0.0
#    build:
#      context: .
#      dockerfile: Dockerfile
    container_name: spring-boot-app
    ports:
      - "8080:9191"
    environment:
      #SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/brainstation?autoReconnect=true&allowPublicKeyRetrieval=true&useSSL=false
      #SPRING_DATASOURCE_USERNAME: admin
      #SPRING_DATASOURCE_PASSWORD: root
      SPRING_REDIS_HOST: redis
      SPRING_REDIS_PORT: 6379
      SPRING_KAFKA_HOST: kafka
      RDS_HOSTNAME: mysql
      RDS_PORT: 3306
      RDS_DB_NAME: brainstation
    depends_on:
      - db
      - redis
      - kafka

  db:
    image: mysql:8.0.27
    container_name: mysql
    environment:
      DATABASE_HOST: docker-mysql
      DATABASE_PORT: 3306
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: brainstation
      MYSQL_USER: admin
      MYSQL_PASSWORD: root

  redis:
    image: redis
    container_name: redis
    ports:
      - "6379:6379"

  zookeeper:
    image: wurstmeister/zookeeper:3.4.6
    container_name: zookeeper
    ports:
      - "2181:2181"

  kafka:
    image: wurstmeister/kafka:2.12-2.5.1
    container_name: kafka
    ports:
      - "9092:9092"
    expose:
      - "9093"
    environment:
      KAFKA_ADVERTISED_LISTENERS: INSIDE://kafka:9093,OUTSIDE://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INSIDE:PLAINTEXT,OUTSIDE:PLAINTEXT
      KAFKA_LISTENERS: INSIDE://0.0.0.0:9093,OUTSIDE://0.0.0.0:9092
      KAFKA_INTER_BROKER_LISTENER_NAME: INSIDE
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_CREATE_TOPICS: "user-event:3:1"
    depends_on:
      - zookeeper

